/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

/* UTILS */

:root {
  --primary-color: #eee;
}

.container {
  width: 1400px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

li > a {
  color: var(--primary-color);
  text-decoration: none;
}

.white-icon {
  color: var(--primary-color);
}

/* HEADER */

.header {
  height: 80px;
  background-color: #ff6900;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
  padding: 0 80px;
}

.logo > img {
  width: 150px;
  display: flex;
}

.gender-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.side-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.gender-selection,
.side-icon {
  width: 200px;
}
/* MAIN */

.card-container {
  flex-wrap: wrap;
  display: flex;
  padding-top: 50px;
  gap: 50px 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.card:hover > .card-image > .hover-image {
  display: block;
}

.card > .card-image > .hover-image {
  display: none;
}

.card:hover > .card-image > .default-image {
  display: none;
}

.card-container > .card {
  flex: 0 0 400px;
  position: relative;
  /* debug */
  /* height: 550px; */
  padding-bottom: 10px;
  /* background-color: red; */
}

.card > .card-image {
  height: 550px;
}

.card > .card-image > img {
  width: 400px;
  height: 550px;
  object-fit: cover;
}

/* card description */

.sale-price {
  color: red;
}

.card > .card-description {
  height: 50px;
  padding-top: 5px;
}

/* on card items*/

.wish-list-hearth {
  background-color: white;
  font-size: 2.2em;
  position: absolute;
  top: 10px;
  right: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.wish-list-hearth:hover {
  color: red;
}

.card-tag > div {
  padding: 5px 10px;
  color: var(--primary-color);
  text-align: center;
  font-size: 0.7em;
}

.card-tag > .sales-percent {
  background-color: red;
}

.card-tag > .product-types {
  background-color: green;
}

.card-tag {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 100px;
}
/* FOOTER */

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container > .company-info {
}
